.poster-create-from{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1em;
}

.poster-create-from div{
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.poster-create-from > :first-child{
    align-items: flex-end;
}